/* CSS declarations go here */

img.face {
  width: 50px;
  height: 50px;
}

.story {
  border: solid thin #ddd;
  margin: 10px;
  padding: 10px;
}

/* CSS declarations go here */
html, body {
	height:100%;
	width:100%;
	text-align: right !important;
	direction: rtl;
	font-family: Tahoma, Arial, Sans-Serif; 
	color: #333; 
	background-color: #fefefe; 
	font-size: 14px; 
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	
}

.sideNav {
	background-color: #E98023;
	color: #fefefe;
	font-family: arial, sans-serif;
	font-size: 18px;
}

.logo, .logoTitle {
	display:block;
	margin: 0 auto;
	width: 50%;
	margin-top: 10px;
}

nav {
	background-color: none;
	display:block;
	box-sizing: border-box;
	padding:10px;
}