/* CSS declarations go here */
.container {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: inherit;
    height:100%;
    text-align: right !important;
    direction: rtl;
    font-family: tahoma, Arial, Sans-Serif;
    color: #333;
    background-color: #fefefe;
    font-size: 14px;
    box-sizing: border-box;

}

.storyText {
    font-size: 18px;
    color: #333333;
}

.smileys {
    width: 20%;
}
.faceBlock {
    padding: 2px ;
    margin: 0;
}
.face {
    width: 30px;
    height: 30px;
    background-color: #ff9800;
}

.face1 {
    background:url("public/images/grin.png") center no-repeat ;
}
.card {
    margin-bottom: 0;
    border-radius: 0;
}

.storyBlock {
    display: block;
    padding: 0;
}

.cardInfo {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 0;
    background-color: #ff9800;
}

