/* CSS declarations go here */
.container {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: inherit;
    height:100%;
    text-align: right !important;
    direction: rtl;
    font-family: tahoma, Arial, Sans-Serif;
    color: #333;
    background-color: #fefefe;
    font-size: 14px;
    box-sizing: border-box;

}

.story-text {
    font-size: 18px;
    color: #333333;
}

.smileys {
    margin: 10px;
    margin-left:20px;
}
.faceBlock {
    padding: 2px ;
    margin: 0;
}
.face {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.face1 {
    background:url("/images/grin.png") center no-repeat;
    background-size: cover;
}

.face1:hover {
    background: url("/images/grin2.png") center no-repeat;
    background-size: cover;
}

.face2 {
    background:url("/images/shocked.png") center no-repeat;
    background-size: cover;
}
.face2:hover {
    background: url("/images/shocked2.png") center no-repeat;
    background-size: cover;
}

.face3 {
    background:url("/images/smile.png") center no-repeat;
    background-size: cover;
}
.face3:hover {
    background: url("/images/smile2.png") center no-repeat;
    background-size: cover;
}
.face4 {
    background:url("/images/tongue.png") center no-repeat;
    background-size: cover;
}
.face4:hover {
    background: url("/images/tongue2.png") center no-repeat ;
    background-size: cover;
}


.card {
    margin-bottom: 0;
    border-radius: 0;
}

.card .card-action {
    padding: 0;
}
.storyBlock {
    display: block;
    padding: 12px 10px;
}

.cardInfo {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 0;
    background-color: #ff9800;
}

.voteNumber {
    display: block;
    text-align: center;
    color: #78909c;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 2px;
    margin: 4px;
}

.card-action .row {
    margin-bottom: 0;
}

nav {
    background-color: #FF9800;
}

img.twitter {
    width: 30px;
}

.cardInfo {
    color: #ECECEC;
    font-weight: 700;
    font-size: 12px;
}

.age {
    color: #e65100;
    font-size: 12px;
}

.post-form {
    padding: 20px;
}

.storyText {
    height: 500px;
    border-radius: 5px;
}